<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CTK.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>96E29E2DA4A329DAB6740D074FBD82E6BDFFE529</string>
				<key>dateExpires</key>
				<string>2019/4/16</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8DJVMG37WW.com.sundear.CTK</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8DJVMG37WW</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>8DJVMG37WW.com.sundear.CTK</string>
				</array>
			</dict>
			<key>name</key>
			<string>CTK.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7bd33a90-9714-4c2e-a2b4-2840f276973c</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.sundear.*</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8DJVMG37WW</string>
				<key>name</key>
				<string>Shanghai Sundear Technology Co, Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
